page-home {
    ion-content{
       
     
        background: #e4e0cf !important;
    }
.bg {
    background:linear-gradient(to bottom, #904779 0% #fff)
}
    div{
        text-align: center;
    }

    
div.margin{
    margin-top: 0cm;

   
}

ion-card {
    border-radius:10px !important;
    font-family: "Verdana", Times, serif;
    }

    ion-card-header {
        border-radius:15px !important;
        
    }

ion-button {
    border-radius:0px !important;
}

.card-fixed{
    height: 20%;

}
h6 {
    font-size:10px;
    font-weight:bold;
    text-align:justify;
    color:#0b0c0c;
    font-family: "Georgia", Times, serif; 

}

h2 {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    color:#10425a;
    font-family: "Georgia", Times, serif; 

}
}